.sign-buttons{
	padding: 18px;
	margin: 5px;
}

.direct-buttons {
	margin-top: 10px;
}

#home-button {
	padding: 21px;
}

.unbold {
  font-weight: normal;
}

.glyphicon-edit {
	color: cornflowerblue;
	margin-left: 10px;
}

.glyphicon-edit:hover {
	cursor: pointer;
	color: crimson;
}
